.char {
    &__form {
        padding: 25px;
        margin-top: 25px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 5;
        background-color: #fff;

        &-item {
            display: block;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
        }

        &-input {
            margin-top: 15px;
            padding: 10px;
            width: 250px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: none;

            &::placeholder {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: rgba(0, 0, 0, 0.5);
            }

            &:focus {
                outline: 1px solid rgb(98, 142, 244);
                border-radius: 5px;
                background-color: rgb(235, 244, 255);

            }
        }

        &-error {
            margin-top: 25px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #9F0013;
        }

        & .button {
            margin-left: 24px;
        }
    }
}